<!-- Gets code from base.html and loads apps static files  -->
{% extends 'base.html' %}
{% load static %}

<!-- Page header image -->
{% block image %}
<div class="contact-image-container">
  <div class="row">
    <div class="col-12 text-center">
    </div>
  </div>
</div>
{% endblock %}

<!-- Page content -->
{% block content %}
<h2 class="text-center mt-4"> Edit Event  </h2>
<div class="row">
  <div class="text-center col-12">
      <a href="{% url 'add_event' %}" aria-label="Opens add event page">
        <i class="fas fa-backward"></i> Need to Add an Event?</a> 
      <a href="{% url 'events' %}" aria-label="Takes you back to event page"></a>></i> Cancel </a>
  </div>
  <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <!-- Edit event form -->
      <form method="POST" action="{% url 'edit_event' event.id %}" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="col-10 offset-1">
              <legend> Event Details</legend>
                {{ form.name | as_crispy_field }}
                {{ form.date | as_crispy_field }}
                {{ form.time | as_crispy_field }}
                {{ form.image | as_crispy_field }}
                <div class="mt-2 mb-2" id="img-preview"></div>
                {{ form.ticket_price | as_crispy_field }}
                {{ form.details | as_crispy_field }}
                {{ form.location | as_crispy_field }}
          </fieldset>
          <div class="text-center">
              <!-- Submit button and cancel link -->
              <button class="btn pay-btn my-btn btn-md hover mt-3" type="submit">Submit Changes</button><br>
              <a href="{% url 'events' %}" aria-label="Takes you back to events page"></a>>Cancel</a>
          </div>
      </form>
  </div>
</div>
{% endblock %}

<!-- Page script -->
{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'events/js/image_display.js' %}"></script>
{% endblock %}