{% extends 'base.html' %}

{% block image %}
<div class="contact-image-container">
  <div class="row">
    <div class="col-12 text-center">
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<h2 class="text-center mt-4"> Events Board </h2>
<div class="col-10 offset-1 text-center">
  <a class="btn my-btn pay-btn hover" aria-label="Link to add event page" href="{% url 'add_event' %}">
    Add Event <i class="fas fa-plus"></i></a>
</div>
<form id="events-search-form" method="GET" action="{% url 'events' %}" class="mt-2">
    <div class="row search-box">
      <div class="col-12 mb-1 text-center">
        <input type="text" name="search" id="search" placeholder="e.g location" aria-label="Search" required>
        <button type="submit" class="btn btn-md my-btn hover">Search <i class="fas fa-search"
            aria-hidden="true"></i></button>
      </div>
    </div>
  </form>
<div class="row">
    {% if events %}
        {% for event in events %}
        <div class="col-12 col-md-6 col-lg-4 mt-3">
            <div class="card">
                <img src="{{ MEDIA_URL }}{{ event.image }}" class="card-img-top" alt="Poster for {{ event.name }} event">
                <div class="card-body">
                  <h3 class="card-title text-center">{{ event.name }}</h3>
                  <p>
                    <strong>Event: </strong> {{ event.details }}<br>
                    <strong>When: </strong>{{ event.date }} at {{ event.time }}<br>
                    <strong>Where: </strong>{{ event.location }}<br>
                    <strong>Ticket Price: </strong>
                    {% if event.ticket_price == 0.00 %} FREE {% else %} £{{ event.ticket_price }}{% endif %}
                  </p>
                  <div class="text-center">
                    {% if request.user.is_superuser or request.user == event.user %}
                    <a class="mr-3" href="{% url 'edit_event' event.id %}"><i class="admin fas fa-pencil-alt"></i> Edit</a>
                    <a data-toggle="collapse" href="#delete-{{event.id}}" class="mr-2" aria-label="Will open delete event section"><i class="admin fas fa-trash"></i> Delete</a>
                    <div id="delete-{{event.id}}" class="col-10 offset-1 text-center collapse">
                      <p>Are you sure you want to delete this event?</p>
                      <a class="btn btn-md my-btn hover" href="{% url 'delete_event' event.id %}" class="mr-2" 
                          aria-label="Will delete event"> Delete </a>
                      <a data-toggle="collapse" href="#delete-{{ event.id }}" class="ml-2 btn btn-md" 
                      aria-label="Will close delete event section">Cancel</a>
                    </div>
                    {% endif %}
                  </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
    <div class="col-10 offset-1 text-center">
        <p>No events to show at the moment, why not add one!</p>
        <a class="btn my-btn pay-btn hover" aria-label="Link to add event page" href="{% url 'add_event' %}">Add Event</a>
    </div>
    {% endif %}
</div>
{% endblock %}