<!-- Gets code from base.html -->
{% extends 'base.html' %}

<!-- Page header image -->
{% block image %}
<div class="title-container">
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="text-left">Music To My Ears</h1>
      <a href="{% url 'shop' %}" class="btn btn-lg hover spinning-record" 
        aria-label="Opens shop page"><span>Shop</span>
        <i class="fas fa-circle" aria-hidden="true"></i><span>Vinyl</span></a>
    </div>
  </div>
</div>
{% endblock %}

<!-- Page content -->
{% block content %}
<h2 class="text-center mt-4"> About Us </h2>
<div class="row">
  <div class="col-10 offset-1">
    <p>Welcome to our store, we sell second hand vinyls from all ages to all ages. 
      If you choose to join our music family, you can register using the link in the footer or menu. 
      Once registered you have access to the events page where you can search and post your local music events.
      In addition you can save your personal details to save time when checking out!
    </p>
  </div>
</div>
{% endblock %}