{% extends 'base.html' %}
{% load static %}

{% block image %}
<div class="image-container">
  <div class="row">
    <div class="col-12 text-center">
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
  <div col-10 offset-1>
    <h2 class="text-center mt-4"> {{ user }}'s Profile </h2>
  </div>
</div>

<h3>My Orders</h3>
{% if orders %}
  {% for order in orders %}
  <h4>{ order.order_number }</h4>
  {% endfor %}
{% else %}
  <p>You have no orders yet </p>
  <a href="{ url 'shop' }">Go Shopping!</a>
{% endif %}

<h3>Saved Addresses</h3>
{% if addresses %}
  {% for address in addresses %}
  {% endfor %}
{% endif %}

{% endblock %}