{% extends 'base.html' %}
{% load static %}

{% block image %}
<div class="image-container">
  <div class="row">
    <div class="col-12 text-center">
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-10 offset-1">
    <h2 class="text-center mt-4"> {% if profile.default_first_name %}{{ profile.default_first_name }}{% else %}{{ profile.user }}{% endif %}'s Profile</h2>
  </div>
</div>

<div class="row">
  <div class="col-10 col-md-6 offset-1 offset-md-3 text-center">
    <h3 class="mt-4">My Info <a class="btn btn-md my-btn hover" data-toggle="collapse" href="#profile_edit" class="mr-2" 
    aria-label="Will open edit information section"><i class="fas fa-pencil-alt"></i> Edit info </a></h3>
    {% if profile.default_first_name %}
      <p>Name: {{ profile.default_first_name }} 
        {% if profile.default_surname %}{{ profile.default_surname }}{% endif %}</p>
    {% else %}
      <p>No name has been added </p>
    {% endif %}
    <p>Email: {{ user.email }}</p>
    {% if profile.default_phone_number %}
        <p>Phone Number: {{ profile.default_phone_number }}</p>
    {% else %}
        <p>No phone number has been added</p>
    {% endif %}
  </div>
  <div class="col-10 col-md-6 offset-1 offset-md-3 text-center">
    <h3 class="mt-4">My Account </h3>
    <a href="{% url 'account_change_password' %}" class="mr-2" aria-label="Will open change password page"> Change Password </a> |
    <a data-toggle="collapse" href="#delete_account" class="mr-2" aria-label="Will open delete account section"> Delete Account? </a>
  </div>
  <div id="delete_account" class="col-10 col-md-6 offset-1 offset-md-3 text-center collapse">
    <p>Are you sure you want to delete your account?</p>
    <a class="btn btn-md my-btn hover" href="{% url 'delete_user' user.id %}" class="mr-2" 
        aria-label="Will delete account"> Delete </a>
    <a data-toggle="collapse" href="#delete_account" class="ml-2" 
    aria-label="Will close delete account section">Cancel</a>
  </div>
  <div id="profile_edit" class="col-10 col-md-6 offset-1 offset-md-3 collapse">
    <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
      {% csrf_token %}
      {{ profile_form|crispy }}
      <div class="text-center">
      <button class="btn btn-md my-btn hover">Update Information</button>
      <a data-toggle="collapse" href="#profile_edit" class="ml-2" 
        aria-label="Will close profile edit section">Cancel</a>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-10 col-md-5 offset-1 text-center orders">
    <h3>My Orders</h3>
    {% if orders %}
      {% for order in orders %}
      <div class="text-left">
        <p><strong>Order Date: </strong>{{ order.order_date|date:"D d M Y" }}<br>
        <strong>Order Number: </strong>
        <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">
          {{ order.order_number | truncatechars:8 }}</a>
        </p>
      </div>
      <hr>
      {% endfor %}
    {% else %}
      <p>You have no orders yet </p>
      <a href="{% url 'shop' %}">Go Shopping!</a>
    {% endif %}
  </div>

  <div class="col-10 col-md-5 offset-1 offset-md-0 text-center">
    <h3>Address Book</h3>
    <p><strong>Default Address</strong></p>
    {% if profile.default_street_address1 %}
      {{ profile.default_street_address1 }}
    {% else %}
    <p>No default address saved</p>
    {% endif %}
    <p class="mt-4"><strong>All Addresses</strong></p>
    {% if addresses %}
      {% for address in addresses %}
      <p>{{ address.saved_street_address1 }}</p>
      {% endfor %}
    {% else %}
    <p>No address saved</p>
    {% endif %}
  </div>
</div>

{% endblock %}