{% extends 'base.html' %}
{% load static %}

{% block image %}
<div class="image-container">
  <div class="row">
    <div class="col-12 text-center">
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
{% if from_profile %}
<h2 class="text-center mt-4">Order History </h2>
<div class="row">
  <div class="col-10 offset-1 col-md-8 offset-md-2">
    <p>This is a previous order confirmation, you should have recieved a confirmation
       email on {{ order.order_date|date:"D d M Y"}} to {{ order.email }}</p>
{% else %}
<h2 class="text-center mt-4"> Success! <span class="green"><i class="fas fa-check"></i></span></h2>
<div class="row">
  <div class="col-10 offset-1 col-md-8 offset-md-2">
    <h3>Order Details </h3>
    <p>Thanks for your order {{order.first_name }}, you'll recieve a confirmation email shortly to {{ order.email }}.<br>
      Meanwhile you can see the order details below, if you're a registered user you can also find your 
      order history on your profile.</p>
{% endif %}
    <p><strong>Order number: </strong>{{ order.order_number }}</p>
    <p><strong>Order date: </strong>{{ order.order_date }}</p>
    <p><strong>Order total: </strong>£{{ order.grand_total }}</p>
    <p><strong>Delivery Address: </strong><br>
      {% if order.delivery_street_address1 %}
        {{ order.delivery_street_address1 }},<br>
        {% if order.delivery_street_address2 %}
          {{ order.delivery_street_address2 }},<br>
        {% endif %}
        {{ order.delivery_town_or_city }},<br>
        {{ order.delivery_county }},<br>
        {{ order.delivery_country }},<br>
        {{ order.delivery_postcode }}
      {% else %}
        {{ order.street_address1 }},<br>
        {% if order.street_address2 %}
          {{ order.street_address2 }},<br>
        {% endif %}
        {{ order.town_or_city }},<br>
        {{ order.county }},<br>
        {{ order.country }},<br>
        {{ order.postcode }}
      {% endif %}
    </p>
    <p><strong>Vinyls ordered: </strong></p>
    <table class="table table-responsive">
      <thead>
          <tr>
              <th scope="col">Product</th>
              <th scope="col">Title</th>
              <th scope="col">Artist</th>
              <th scope="col">Price</th>
              <th scope="col">Qty</th>
              <th scope="col">Subtotal</th>
          </tr>
      </thead>

      {% for item in order.lineitems.all %}
          <tr>
            {% for image in images %}
            {% if image.vinyl == item.product %}
              <td>
                <img class="success-img" src="{{ MEDIA_URL }}{{ image.image }}" alt="Cover image of {{ item.title }} record"
                onerror="this.onerror=null;this.src='{{ MEDIA_URL }}/backup-img.jpg'">
              </td>
            {% endif %}
            {% endfor %}
              <td>
                  {{ item.product.title }}
              </td>
              <td>
                  {{ item.product.artist }}
              </td>
              <td>
                  <p>£{{ item.product.price }}</p>
              </td>
              <td>
                <p>{{ item.quantity }}</p>
            </td>
              <td>
                 {{ item.lineitem_total}}
              </td>
          </tr>
      {% endfor %}
    </table>
  </div>
  <div class="col-10 offset-1 text-center">
    {% if from_profile %}
      <a class="btn my-btn pay-btn btn-md hover" href="{% url 'profile' %}">Back to Profile? </a>
    {% else %}
      <a class="btn my-btn pay-btn btn-md hover" href="{% url 'shop' %}">Back to shop? </a>
    {% endif %}
  </div>
</div>
{% endblock %}