<!-- Gets code from base.html and loads apps static files  -->
{% extends 'base.html' %}
{% load static %}

<!-- Page header image -->
{% block image %}
<div class="image-container">
  <div class="row">
    <div class="col-12 text-center">
    </div>
  </div>
</div>
{% endblock %}

<!-- Page content -->
{% block content %}
<h2 class="text-center mt-4"> Checkout </h2>
<div class="row">
    <div class="text-center col-12">
        <a href="{% url 'view_basket' %}"><i class="fas fa-backward"></i> Back to Basket</a>
    </div>
    <!-- Payment information form -->
    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <form method="POST" action="{% url 'checkout' %}" id="payment-form">
            {% csrf_token %}
            <fieldset class="col-10 offset-1 personal">
                <legend> Personal Details</legend>
                {{ order_form.first_name | as_crispy_field }}
                {{ order_form.surname | as_crispy_field }}
                {{ order_form.email | as_crispy_field }}
                {{ order_form.phone_number | as_crispy_field }}
            </fieldset>
            <fieldset class="col-10 col-md-5 offset-1 billing">
                <legend> Billing Address </legend>
                {{ order_form.street_address1 | as_crispy_field }}
                {{ order_form.street_address2 | as_crispy_field }}
                {{ order_form.town_or_city | as_crispy_field }}
                {{ order_form.county | as_crispy_field }}
                {{ order_form.country | as_crispy_field }}
                {{ order_form.postcode | as_crispy_field }}
            </fieldset>
            <fieldset class="col-10 offset-1 col-md-5 offset-md-0 delivery">
                <legend> Delivery Address <small>(if different)</small></legend>
                {{ delivery_form.delivery_street_address1 | as_crispy_field }}
                {{ delivery_form.delivery_street_address2 | as_crispy_field }}
                {{ delivery_form.delivery_town_or_city | as_crispy_field }}
                {{ delivery_form.delivery_county | as_crispy_field }}
                {{ delivery_form.delivery_country | as_crispy_field }}
                {{ delivery_form.delivery_postcode | as_crispy_field }}
            </fieldset>
             <!-- Save information checkbox with link to register or login to do so -->
            <div class="col-12 text-center mb-2 save-info">
                {% if user.is_authenticated %}
                <label for="#save-info">Save this information for next time?</label>
                <input type="checkbox" id="save-info" name="save-info"
                    checked>
                {% else %}
                <a href="{% url 'account_signup' %}">Register </a> or
                <a href="{% url 'account_login' %}">Login</a> to save this information
                {% endif %}
            </div>
            <fieldset class="col-10 col-md-5 offset-1 mb-2 pb-2 total">
                <legend>Total <i class="fas fa-calculator"></i></legend>
                <p>
                    <strong>Number of items: </strong>{{ product_count }}<br>
                    <strong>Subtotal: </strong>£{{ total }}<br>
                    <strong>Delivery: </strong>£{{ delivery }}<br>
                    <strong>Grand Total: </strong>£{{ grand_total }}<br>
                </p>
            </fieldset>
            <fieldset class="col-10 col-md-5 offset-1 offset-md-0 payment">
                <legend>Payment <i class="far fa-credit-card"></i></legend>
                <label for="#card-element">Card Details</label>
                <div class="mb-2 form-control" id="card-element"></div>
                <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                <input type="hidden" value="{{ client_secret }}" name="client_secret">
                <div class="text-center text-md-left">
                    <button id="submit-button" class="btn my-btn pay-btn hover">Complete Order</button>
                    <p class="small text-danger my-1">
                    Your card will be charged £{{ grand_total|floatformat:2 }}
                    </p>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<!-- Loading overlay while payment being processed -->
<div id="loading-overlay">
    <div class="loading-spinner">
        <span class="btn btn-lg hover spinning-record"><span> Won't be </span>
        <i class="fas fa-circle"></i><span>Long</span></span>
    </div>  
</div>
{% endblock %}

 <!-- Page script -->
{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}
