{% extends 'base.html' %}

{% block image %}
<div class="basket-container">
  <div class="row">
    <div class="col-12 text-center">
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<h2 class="text-center mt-4"> Your Basket </h2>
<div class="row">
    {% if basket_products %}
        {% for item in basket_products %}
        <div class="col-8 offset-2 col-md-3 offset-md-2 text-center mt-3">
            {% for image in item.product_images %}
              {% if image.default %}
                <img src="{{ MEDIA_URL }}{{ image.image }}" class="w-75"
                    alt="Cover image of {{ product.title }} record"
                    onerror="this.onerror=null;this.src='{{ MEDIA_URL }}/backup-img.jpg'">
              {% endif %}
            {% endfor %}
        </div>
        <div class="col-10 offset-1 col-md-5 offset-md-0 item-details mt-3">
            <p><strong>Product: </strong>{{ item.product.title }} by {{ item.product.artist }}</p>
            <p><strong>Quantity: </strong>{{ item.quantity }} </p>
            <p><strong>Price: </strong>£{{ item.product.price }}</p> 
            <p>
              <a data-toggle="collapse" href="#{{ item.product_name }}_edit" class="mr-2" 
              aria-label="Will open edit quantity section"><i class="fas fa-pencil-alt"></i> Edit quantity </a> | 
              <a data-toggle="collapse" href="#{{ item.product_name }}_delete" class="ml-2" 
              aria-label="Will open remove product confirmation section"><i class="fas fa-trash-alt"></i> Delete</a>
            </p>
            <div id="{{ item.product_name }}_edit" class="collapse">
              <form method="POST" action="{% url 'edit_quantity' item.product_id %}">
                {% csrf_token %}
                <label for="quantity_selector">Quantity:</label><br>
                <select class="form-control quantity mb-2" id="quantity_selector" name="quantity">
                  {% for quantity in item.stock_quantity_list %}
                  <option value="{{ quantity }}">{{ quantity }}</option>
                  {% endfor %}
                </select>
                <button class="btn-md my-btn btn hover" type="submit">Update basket</button>
                <a data-toggle="collapse" href="#{{ item.product_name }}_edit" class="ml-2" 
                  aria-label="Will close edit quantity section">Cancel</a>
              </form>
            </div>
            <div id="{{ item.product_name }}_delete" class="collapse text-center">
              <p>Are you sure you want to remove {{ item.product }} from your basket?</p>
              <a class="btn btn-md my-btn hover" href="{% url 'delete_item' item.product_id %}"
               aria-label="Will delete item from basket">Yes, I'm sure </a> 
              <a data-toggle="collapse" href="#{{ item.product_name }}_delete" class="ml-2" 
              aria-label="Will close remove product confirmation section">Cancel</a>
            </div>
            {% if product_count > 1 %}
              <div class="col-4 offset-8 mt-3">
                <hr class="light">
              </div>
              <p class="text-right"><strong>Item Subtotal: </strong>£{{ item.item_total }}</p>
            {% endif %}
        </div>
        {% endfor %}
        <div class="col-4 offset-4 mt-3">
          <hr class="light">
       </div>
        <div class="col-8 offset-2 col-md-4 offset-md-4 text-center">
          <h3>Total <i class="fas fa-calculator"></i></h3>
          <p>
            <strong>Number of items: </strong>{{ product_count }}<br>
            <strong>Subtotal: </strong>£{{ total }}<br>
            <strong>Delivery: </strong>£{{ delivery }}<br>
            <strong>Grand Total: </strong>£{{ grand_total }}
          </p>
        </div>
        <div class="col-12 mb-2 text-center">
          <a href="{% url 'checkout' %}" class="btn checkout-btn">Checkout?</a>
        </div>
    {% else %}
    <div class="col-12 text-center">
      <p>You have nothing in your basket yet! <i class="far fa-sad-cry"></i></p>
    </div>
    {% endif %}
    <div class="col-12 text-center">
      <a href="{% url 'shop' %}">Continue Shopping? </a>
    </div>
</div>
{% endblock %}