@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

/*---- General ----*/
body{
    font-family: 'Special Elite', cursive;
}

.title-container {
    height: 75vh;
    background: url("/media/record-small.jpg") no-repeat center center;
    background-size: cover;
    padding: 0;
    border-radius: 10px;
}

.title-container h1 {
    margin-top: 25vh;
}

.image-container {
    height: 25vh;
    background: url("/media/record-shop.jpg") no-repeat bottom -50px center;
    background-size: cover;
    padding: 0;
    border-radius: 10px;
}

.header-container {
    height: 25vh;
    background: url("/media/guitar.jpg") no-repeat center center;
    background-size: cover;
    padding: 0;
    border-radius: 10px;
}

.my-btn {
    background-color:#f39c8a;
    height: 30px;
    padding: 5px;
}

.checkout-btn {
    height: 50px;
    width: 200px;
    padding: 5px;
    font-weight: 800px;
    font-size: 30px;
    border-width: 3px;
    border-color: #f39c8a;
    background-color:#225e6c;
    color: #f39c8a;
}

.pay-btn {
    font-size: 20px;
    height: 40px;
    width: 200px;
    border: #225e6c solid 3px;
}

.checkout-btn:hover {
    background-color: #f39c8a;
    color: #225e6c;
}

.hover:hover {
    background-color: #225e6c;
    color: rgb(241 135 135);
}

.spinning-record {
    background-color:#f39c8a;
    border-radius: 50%;
    border: 5px solid rgb(241 135 135);
    animation: record 5s linear infinite;
    height: 150px;
    width: 150px;
    padding-top: 11px;
    font-size: 24px;
  }

.spinning-record i {
    padding: 13.5px;
}

.message-container {
    position: absolute;
    top: 140px;
    right: 15px;
    z-index: 9999999999;
    border: 3px solid #225e6c;
    border-radius: 8px;
}

.toast {
    overflow: visible;
    background-color: white;
}

.toast .item-details {
    padding: 0px;
}

.message-container .success {
    color: green;
    font-size: 30px;
}

.message-container .error {
    color: red;
    font-size: 30px;
}

.message-container .info {
    color: blue;
    font-size: 30px;
}

.message-container .warning {
    color: orange;
    font-size: 30px;
}

.orders hr {
    color:#f39c8a;
    width: 10%;
}
  
.admin {
    font-size: 30px;
}

@keyframes record {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
 
.footer-links p {
    font-size: 24px;
}

.social,
.nav-link,
.footer-link {
    color: #225e6c;
    font-size: 20px;
}

.navbar-brand {
    color: rgb(239 112 102);
    font-size: 40px;
    margin: 0px;
    padding: 0px
}

.navbar-brand:hover,
.shopping-bag:hover,
.total a:hover {
    color: #225e6c;
    text-decoration: none;
}

.nav-link:hover,
.footer-link:hover,
.social:hover,
.shopping-bag,
a:hover,
.total a {
    color: rgb(239 112 102);
    text-decoration-style: wavy;
}

.text-left {
    padding-left: 12vw;
}

.banner {
    background-color: #f39c8a;
    border-radius: 8px;
    border: 5px solid #225e6c;

}

.banner p {
    color: black;
    font-size: 24px;
    margin: 0;
}

hr {
    width: 70vw;
    background-color: rgb(239 112 102);
    height: 5px;
    border-radius: 5px;
}

hr.light {
    width: 25vw;
    height: 2.5px;
}

.shopping-bag {
    padding-top: 15px;
}

.shopping-bag p {
    margin: 0px;
}

strong {
    font-weight: 800;
    font-size: 20px;
    color: #225e6c
}

.details .text-left {
    padding-left: 0px;
}

a {
    color: #225e6c;
}

.highlight {
    color: red;
    font-weight: 800px;
}

select.quantity {
    width: 100px;
}

fieldset.billing,
fieldset.delivery,
fieldset.payment,
fieldset.total {
    display: inline;
}

fieldset legend {
    font-size: 22px; 
    color:  rgb(239 112 102);
}

#loading-overlay {
    display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(23, 162, 184, .85);
    z-index: 9999;
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}
/*---- Media Queries ----*/

@media(max-width: 350px) {
    .product_details i {
        display: none;
    }
}
@media(min-width:750px){
    .image-container {
        height: 40vh;
        background: url("/media/record-shop.jpg") no-repeat bottom -90px center;
        background-size: cover;
        padding: 0;
        border-radius: 10px;
    } 
}

@media(min-width:1000px){
    .image-container {
        height: 40vh;
        background: url("/media/record-shop.jpg") no-repeat bottom -200px center;
        background-size: cover;
        padding: 0;
        border-radius: 10px;
    } 
}
