{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
<div class="row">
    <div class="col-10 offset-1 col-md-6 offset-md-3">
        <h2 class="text-center mt-4">{% trans "Change Password" %}</h2>
        <a href="{% url 'profile' %}" aria-label="Takes you back to profile page">
            <i class="fas fa-backward" aria-hidden="true"></i> Cancel</a>

        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {{ form | crispy }}
            <div class="text-center">
                <button class="btn my-btn pay-btn hover" type="submit" name="action">{% trans "Change Password" %}</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
