<!-- Gets code from base.html -->
{% extends 'base.html' %}

<!-- Page header on image background -->
{% block image %}
<div class="image-container">
    <div class="col-12 error header text-center">
        <h1>403</h1>
    </div>
</div>
{% endblock %}

<!-- Page content -->
{% block content %}
<!-- Error message with back to home button -->
<div class="row text-center error-message">
    <div class="col-12 col-md-4 offset-md-4 mt-3">
        <h2>Uh Oh! Thats forbidden<span> <i class="fas fa-sad-cry" aria-hidden="true"></i></span></h2>
        <h3>Let's get you out of here!</h3>
        <a class="btn btn-lg my-btn hover" href="{% url 'home' %}" aria-label="link back to home page">Back To Home Page</a>
    </div>
    <!-- Report issue button -->
    <div class="col-12 col-md-4 offset-md-4 issue-link">
        <a href="{% url 'contact' %}" aria-label="link back to contact page">Report issue</a>
    </div>
</div>
<hr>
{% endblock %}