{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta charset="UTF-8">
<meta name="keywords" content="vinyl, shop, records, music">
<meta name="author" content="Natalie Kate Alexander">
<meta name="Description" content="Vinyl record shop"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<title>Music To My Ears</title>
</head>
<body class="container-fluid">
    <!-- Header and Nav, modified bootstrap nav -->
    <header>
        <nav class="navbar navbar-expand-md">
            <a class="navbar-brand fas fa-record-vinyl" href="{% url 'home' %}" aria-label="Logo and link to home"></a>
            <!-- Dropdown menu button for smaller screens -->
            <button class="navbar-toggler text-center" type="button" data-toggle="collapse" data-target="#navdropdownmenu"
                aria-controls="navdropdownmenu" aria-expanded="false" aria-label="Toggle navigation">
                <span><i class="fas fa-bars"></i></span>
            </button>
            <!-- Nav links -->
            <div class="collapse navbar-collapse text-center" id="navdropdownmenu">
                <ul class="navbar-nav ml-auto w-auto mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}" aria-label="link to home page">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'shop' %}" aria-label="link to shop page">Shop</a>
                    </li>
                    <!-- Shown only for signed in users -->
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="" aria-label="link to profile page">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="" aria-label="link to event page">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_logout' %}" aria-label="link to sign out">Sign Out</a>
                    </li>
                    <!-- Shown only for admin users -->
                    {% if request.user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link" href="" aria-label="link to manage genres page">Add Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="" aria-label="link to manage users page">Edit Product</a>
                    </li>
                    {% endif %}
                    <!-- Shown if not signed in -->
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}" aria-label="link to sign in page">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_signup' %}" aria-label="link to sign up page">Register</a>
                    </li>
                    {% endif %}
                    <!-- Last nav link shown for everyone -->
                    <li class="nav-item">
                        <a class="nav-link" href="" aria-label="link to contact us page">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="shopping-bag text-center">
                <a class="shopping-bag" href="{% url 'basket' %}">
                    <i class="fas fa-shopping-basket fa-lg"></i>
                    <p>
                        {% if grand_total %}
                        £{{ grand_total|floatformat:2 }}
                        {% else %}
                        £0.00
                        {% endif %}
                    </p>
                </a>
            </div>
        </nav>
    </header>
    <div class="banner text-center">
        <p>Register today for access to our events page! </p>
    </div>

     <!-- Individual page header on an image background gets inserted here -->
     {% block image %}

     {% endblock %}

    <!-- Individual page content will be inserted here -->
    {% block content %}

    {% endblock %}
    <hr>
    <footer>
        <div class="row">
            <!-- Social Links -->
            <div class="col-6 col-lg-3 offset-lg-3 text-center footer-links">
                <p>Social Links</p>
                <p><a class="social" href="https://www.instagram.com" target="_blank" rel="noopener"><span class="sr-only">Link will open
                        Instagram in a new page.</span>Instagram</a></p>
                <p><a class="social" href="https://www.spotify.com" target="_blank" rel="noopener"><span class="sr-only">Link will open
                        Spotify in a new page.</span>Spotify</a></p>
                <p><a class="social" href="https://www.twitter.com" target="_blank" rel="noopener"><span class="sr-only">Link will open
                        Twitter in a new page.</span>Twitter</a></p>
            
            </div>
            <!-- Nav Links -->
            <div class="col-6 col-lg-3 text-center footer-links">
                <p>Useful Links</p>
                <!-- If user not signed these links will be displayed -->
                {% if not request.user.is_authenticated %}
                <p><a class="footer-link" href="{% url 'account_signup' %}" aria-label="link to sign up page">Sign Up Page</a></p>
                <p><a class="footer-link" href="{% url 'account_login' %}" aria-label="link to sign in page">Sign In Page</a></p>
                {% endif %}

                <!-- Individual page "back to top" link will be inserted -->
                {% block link %}

                {% endblock %}

                <!-- If user logged in these links will be displayed -->
                {% if request.user.is_authenticated %}
                <p><a class="footer-link" href="{% url 'account_logout' %}" aria-label="link to sign out page">Sign Me Out</a></p>
                <p><a class="footer-link" href="" aria-label="link to edit account">My Profile</a></p>
                {% endif %}
            </div>
        </div>
    </footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>

  <!-- Any individual page scripts to be inserted here -->
{% block postloadjs %}

{% endblock %}
</body>
</html>