{% extends 'base.html' %}

{% block image %}
<div class="contact-image-container">
  <div class="row">
    <div class="col-12 text-center">
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<h2 class="text-center mt-4"> Contact Us </h2>
<div class="row">
  <div class="col-10 offset-1 text-center">
    <p>We love to here any feedback, comments or concerns you may have.
    </p>
  </div>
</div>

<div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
    <form method="POST" action="{% url 'contact' %}" id="contact-form">
        {% csrf_token %}
        {{ contact_form|crispy }}
        <div class="text-center">
            <button id="submit-button" class="btn my-btn pay-btn hover">Send! </button>
        </div>
    </form>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
      $(document).ready(function () {
        $("#id_rate_us_1").attr('checked', 'checked');
        $(".form-check-label" ).each(function( index ) {
          let html =("<i class='fas fa-record-vinyl'></i>")
          $(this).html(html.repeat(index))
        })
      });
    </script>
{% endblock %}s