<!-- Gets code from base.html and loads static -->
{% extends 'base.html' %}
{% load static %}

<!-- Page header image -->
{% block image %}
<div class="image-container">
  <div class="row">
    <div class="col-12 text-center">
    </div>
  </div>
</div>
{% endblock %}

<!-- Page content -->
{% block content %}
<h2 class="text-center mt-4"> Add New Product </h2>
<div class="row">
    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <!-- Add Vinyl form -->
        <form method="POST" action="{% url 'add_vinyl' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="col-10 offset-1">
                <legend> Product Details</legend>
                {% for field in form %}
                   {{ field | as_crispy_field }}
                {% endfor %}
            </fieldset>
            <fieldset class="col-10 offset-1">
                <legend> Product Images </legend>
                <label for="#default-image">Main default image</label><br>
                <input id="default-image" name="default_image" type="file" accept="image/*" required><br>
                <div class="mt-2" id="default-img-preview"></div>
                <label class="mt-2" for="#additional-images">Additional Images (optional)</label><br>
                <input id="additional-images" name="additional_images" type="file" accept="image/*" multiple="True">
                <div class="mt-2 "id="img-preview"></div>
            </fieldset>
            <!-- Submit button and cancel link -->
            <div class="text-center">
                <button class="btn pay-btn my-btn btn-md hover mt-3" type="submit">Add Product</button><br>
                <a href="{% url 'shop' %}">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}

<!-- Page script -->
{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'products/js/display_image.js' %}"></script>
{% endblock %}
